body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #7cf34d!important;
    background-color: black!important;
    /* border: 1px dashed #7cf34d!important; */
    line-height: 2;
}

/* .chat {
    font-weight: bold;
} */
 
.prompt {
    display: inline;
    font-weight: bold;
}
.input {
    display: inline-block;
    color: #7cf34d;
    width: 40%;
    border: none;
    caret-color: #7cf34d;
    caret-shape: block;
    background-color: black;
    font-size: 15px;
}
.input:focus {
    outline: none;
    border: none;
    /* border-left: 5px solid #7cf34d; */
    background-color: black;
}