body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0d0d0d;
  color: white;
  overflow-x: hidden;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  color: white;
  z-index: 1;
}
.main div {
  background-size: cover;
  background-position: center;
}

.first {
  background-image: url(static/leaves-moody.jpg);
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(static/personal-grainy.jpg);
}

.third {
  background-image: url(static/beach.jpg);
}

.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(static/keyboard-hue.jpg);
}
.quote1 {
  opacity: 0.6;
  font-size: 30px;
}
.quote2 {
  display: none;
  opacity: 0.6;
  font-size: 25px;
}

.name {
  color: wheat;
}
.name-intro {
  color: wheat;
  font-size: 20px;
  margin-top: 20px;
  
}

.name-container {
  display: block;
  margin: 50px;
  margin-top: 150px;
  height: 100%;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 600px;
  }
  .first {
    background-image: url(static/personal-grainy.jpg);
  }  
  .second {
    background-image: url(static/leaves-moody.jpg);
  }
}

.skills {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.skill {
  display: inline-block;
  font-family: monospace;
  opacity: 1;
  margin: 5px;
  padding: 5px;
  text-align: left;
  color: beige;
  border: solid 0.5px beige;
  border-radius: 5px;
  z-index: 1;
}
@media (max-width: 600px) {
  .skill {
    font-size: 14px;
    display: inline-block;
    margin: 10px;
    /* background-color: beige; */
    color: beige;
    border: 1px solid beige;
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  position: relative;
  margin: 20px;
  margin-top: 500px;
  height: 1000px;
  background-color: black;
  z-index: 2;
}
@media (max-width: 600px) {
  .content {
    margin-top: 500px;
  }
  
}
