body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  color: white;
  background-image: url(static/tech_bg.jpg);
  background-color: black!important;
  border: none;
}

.name {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 10px;
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
}

.dp {
  margin-left: 70%;
  width: 150px;
  height: 150px;
}


