/* ! Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
}
#preloader img {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000000!important;
  color: white;
  overflow: hidden;
}
body.loaded {
  opacity: 1!important;
  overflow: visible;
  overflow-x: hidden;
}
body:not(.loaded) {
  transition: opacity 0.2s ease-out;
}
@media (max-width: 600px) {
  body {
    background-image: url(static/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}


/* ! Main */
.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  color: white;
  z-index: -1;
}
.main div {
  background-size: cover;
  background-position: center;
}

.first {
  background-image: url(static/leaves-moody.jpg);
}

.second {
  display: flex;
  background-image: url(static/personal-grainy.jpg);
}

.third {
  background-image: url(static/beach.jpg);
}

.fourth {
  display: flex;
  background-image: url(static/keyboard-hue.jpg);
}
.name {
  color: wheat;
}
.name-intro {
  color: wheat;
  font-size: 20px;
  margin-top: 20px;
  
}

.name-container {
  display: block;
  margin: 50px;
  margin-top: 150px;
  height: 100%;
}

.links {
  display: flex; 
  width: 100%;
  justify-content: center;
  /* margin: 20px; */
  margin-top: 40px;
}
.links div {
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  margin: 10px;
  opacity: 0.6;
  transition: 0.3s;
}
.links div:hover {
  opacity: 1;
  transform: scale(1.1);
}
.links div:active {
  transform: scale(0.9);
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 600px;
  }
  .first {
    background-image: url(static/personal-grainy.jpg);
  }  
  .second {
    background-image: url(static/leaves-moody.jpg);
  }
  .links {
    margin: 10px 0 10px 0;
  }
  .links div img{
    width: 40px;
    height: 40px;
  }
}

/* ! Skills */
.skills {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.skill {
  display: inline-block;
  font-family: monospace;
  opacity: 1;
  margin: 5px;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  color: beige;
  border: solid 0.5px rgba(245, 245, 220, 0.466);
  border-radius: 5px;
  z-index: 1;
}
@media (max-width: 600px) {
  .skill {
    font-size: 14px;
    display: inline-block;
    margin: 10px;
    /* background-color: beige; */
    color: beige;
    border: 1px solid beige;
  }
}
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ! About */

.about {
  margin: 20px;
  padding: 25px 0;
  margin-top: 90vh;
  min-height: 800px;
  color: white;
  background-color: black;
}
.about-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;

}
.about-img img {
  width: 100%;
  max-height: 70%;
  border-radius: 15px;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-2 {
  flex-basis: 60%;
  padding: 20px;
}

.about-titles {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 40px;
}
.about-links {
  margin: 10px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.about-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: wheat;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.about-links.active-link::after {
  width: 50%;
}
.about-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.about-contents ul li span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(252, 179, 90);
}
.about-contents {
  display: none;
}
.about-contents.active-tab {
  display: block;
}
.education {
  display: flex;
  justify-content: left;
  align-items: center;
}
.education-col-1 {
  background: linear-gradient(to bottom, rgb(252, 179, 90) 80%, white 20%);
  flex: 0 0 auto;
  width: 5px;
  height: 220px;
}
.about-contents .skill {
  margin: 3px;
  padding: 10px;
  min-width: 100px;
  text-align: center;
}
.about-contents .skill:hover {
  color: black;
  background-color: wheat;
}
.achievement {
  padding: 10px;
  margin: 10px;
  border: 1px solid transparent;
}
.achievement:hover {
  border-radius: 8px;
  border: 1px solid wheat;
  box-shadow: 0px 4px 8px wheat;
}
.certificates {
  font-size: small;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
  color: black;
  background-color: rgb(247, 235, 212);
  transition: 0.2s;
  min-height: 150px;
}
.certificates span {
  color: black!important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600!important;
}
.certificates:hover {
  border: 1px solid wheat;
  background-color: wheat;
  transform: scale(1.03);
}
.certificates-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between grid items */
  list-style: none;
  padding: 0; 
}
@media (max-width: 600px) {
  .about {
    margin-top: 80vh;
    padding: 2px 0;
  }
  .about-img img {
    display: none;
  }
  .about-col-1 {
    flex-basis: 100%;
  }
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-links {
    margin: 10px;
  }
  .about-contents .skill {
    margin: 2px;
    min-width: 20px;
  }
  .certificates-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
} 
/* ! Projects */
.projects {
  display: block;
  margin: 20px;
  padding: 20px;
  min-height: 100vh;
  color: black;
  background: url(./static/beach.jpg);
  background-color: rgba(185, 145, 69, 0.2);
}
.projects h2 {
  text-align: center;
  margin: 20px;
  color: wheat;
  margin-bottom: 30px;
  text-align: left;
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 200px;
}

.card {
  width: 300px;
  height: 200px;
  margin: 5px;
  background-color: #d8d8d8;
  background-image: linear-gradient(43deg, rgb(255, 248, 235) 0%, wheat 46%, rgb(199, 154, 70) 100%);
  border-radius: 8px;
  color: black;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.card-content .card-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.card-content .card-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}
.card:hover:before {
  transform: translateX(-100%);
}
.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}
.card:hover:after {
  transform: translateX(100%);
}
.github-link {
  /* position: absolute;
  bottom: 5px; */
  color: black;
  text-decoration: none!important;
  font-weight: bold;
  font-size: 16px;
  background-image: linear-gradient(43deg, wheat 0%, wheat 46%, wheat 100%);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  margin-top: auto;
  width: 50%;
}
.github-link:hover {
  background-image:none;
  background-color: black;
  transform: rotate();
  color: wheat;
  cursor: pointer;
}
.card-expanded {
  position: relative;
  max-width: 93%;
  min-height: 90vh!important;
  animation: none;
  background-color: rgba(245, 222, 179, 0.3);
}

@keyframes zoomOut {
  0% {
      width: 300px;
      height: 200px;
      opacity: 0;
  } 10%, 100% {
      width: 90%;
      height: 500px;
      opacity: 1;
  } 
}
@keyframes zoomIn {
  0% {
      width: 700px;
      height: 500px;
  } 10%, 100% {
      width: 300px;
      height: 200px;
  }
}

/* ? Loader for images */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(static/loader.gif); */
  background-size: cover;
  z-index: 1;
}
.card-img {
  max-height: 45vh!important;
  border: 5px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: auto;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #FF3D00;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

/* ? Styles for PC and Laptop */
@media only screen and (min-width: 1024px) {
  .card-img {
      max-height: 400px;
      width: auto!important;
  }
  .card-content {
    height: auto;
  }
}


/* ! Contact */
.contact {
  /* display: flex; */
  position: relative;
  margin: 20px;
  padding: 20px;
  min-height: 100vh;
  color: white;
  background-color: black;
}
.contact h2 {
  text-align: center;
  margin: 20px;
  color: wheat;
  margin-bottom: 30px;
  text-align: left;
}
.contact-links {
  display: flex;
  flex-wrap: wrap;
  margin: 20vh;
  justify-content: space-between;
  align-items: center;
}
.contact-links a {
  text-decoration: none;
  color: transparent;
}
.contact-links a:hover {
  text-decoration: none;
  color: rgb(252, 179, 90);

}
.contact-links div {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.contact-links div p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 20vh;
  border-radius: 20px;
}
.contact-links div p img {
  width: 60%;
}
.contact-links div p:hover {
  border: 2px solid wheat;
  transform: scale(1.1);
}
.contact-links a:active {
  color: wheat;
}

@media (max-width: 600px) {
  .contact-links {
    justify-content: center;
    margin: auto;
  }
} 
.about h2, .contact h2 {
  color: wheat;
  margin-bottom: 30px;
  text-align: left;
}
.address {
  text-align: center;
  font-size: 10px;
}

/* ! Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.head-container {
  padding: 10px 10%;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 10vh;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  opacity: 0.8;
}
nav ul li a:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}
nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #feffa8;
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  margin: auto;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}

#hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  z-index: 6;
}
#hamburger:hover {
  color: wheat;
  transform: scale(1.1);
}
#hamburger:focus {
  outline: none;
}
@media (max-width: 600px) {
  #hamburger {
    display: block;
  }
  .nav-links {
    display: none;
  }
}

.js-nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  object-fit: cover;
}

.on-top {
  display: block;
  text-align: center;
  position: fixed;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 5;
  margin: 0 0 0 0;
}
.on-top li {
  padding: 10px;
}
.on-top a {
  margin: 0 auto;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.js-enabled {
  display: block;
}
/* For Large Screens */
@media (min-width: 600px) {
  .js-enabled {
    width: 100px;
  }
  .hamburger {
    width: 100%;
  }
  .js-nav-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .on-top {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

