@use "variables" as *;

.achievements {
  margin-top: 10px;
  max-width: 35em;
}

.achievement-item:hover {
  svg {
    margin-left: 5px;
    opacity: 1;
    color: $highlight-color;
    transition: 0.1s ease-in-out;
  }    
}
