@use "variables" as *;

.certifications {
  margin-top: 10px;
  max-width: 40em;
  
  div {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    
    .certificate-icon {
      width: 34px;
      height: 34px;
      vertical-align: middle;
      color: $highlight-color;
      flex: 1;
    }
  }
  
  .certificate-item {
    padding: 10px;
    list-style: none;
    text-align: left;
    flex: 10;
    
    .extra {
      font-style: italic;
      color: $secondary-color;
    }

  }
  
  .certificate-link {
      &:hover {
        color: $primary-color;
        
        .link-icon {
          margin-left: 7px;
          opacity: 1;
          color: $highlight-color;
          transition: 0.2s ease-in-out;
        }
      }
  }
}

@media screen and (max-width: 1080px) {
  .certifications {
    max-width: 100%;

    div {
      justify-content: left;
      align-items: left;
      text-align: left;
    }
    
    .certificate-item {
      max-width: auto;
      min-height: auto;
      justify-content: left;
      margin: 5px;
      padding: 10px;
    }
  }
  .certificate-link {
    flex-direction: column;
    align-items: center;
  }

}
