@use "variables" as *;

.navigation {
  width: 100%;
  padding: 30px;

  a {
    &:hover {
      text-decoration: none;
      color: $primary-color;
    }

    div {
      opacity: 0.6;
      margin-left: 20px;
      
      &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        margin-right: 8px;
        vertical-align: middle;
        transition: 0.2s ease-in-out;
      }

      &:hover,
      &.active {
        opacity: 1;
        color: $primary-color;
        transition: opacity 0.2s ease-in-out;
        
        &::before {
          width: 18px;
          transition: width 0.2s ease-in-out;
        }
      }
      
    }
  }
}

@media screen and (max-width: 798px) {
  .toggle-button {
    position: fixed;
    background-color: transparent;
    border: none;
    color: $highlight-color;
    opacity: 0.8;
    font-size: 24px;
    top: 20px;
    right: 20px;
    z-index: 250;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: 0.2s ease-in-out;
    }
  }

  #nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    z-index: 200;

    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &.hidden {
      opacity: 0;
      visibility: hidden;
      transform: scale(0.95);
      pointer-events: none;
    }

    div {
      width: 80%;
      &.hidden {
        display: none;
        transform: translateX(-100%);
        visibility: hidden;
      }

      a {
        div {
          text-align: center;
          letter-spacing: 0.1em;
          padding: 10px;
          width: auto;
          margin: 0;
          border: 0;
          color: $primary-color;
          border-radius: 5px;
          margin-bottom: 10px;
  
          &::before {
            content: none;
          }
          
          &:hover {
            opacity: 0.6;
            color: $secondary-color;
          }
  
          &:active {
            opacity: 1;
            color: $primary-color;
          }
        }
  
      }
    }

  }
}