@use "variables" as *;

.navigation {
  width: 100%;
  padding: 30px;

  a {
    div {
      opacity: 0.6;
      margin-left: 20px;

      &:hover, &.active {
        opacity: 1;
        color: $primary-color;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }

}