@use "variables" as *;

.project-item-container {
  &.hidden {
    display: none;
  }

}
.project-toggle {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;

  svg {
    vertical-align: middle;
  }

  &:hover {
    color: $highlight-color;

    svg {
      &.more {
        transform: translateY(-2px);
      }
      &.less {
        transform: translateY(2px);
      }
    }
  }
}

.project-item-link {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $primary-color;

    .external-link-icon {
      margin-left: 7px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }

  .project-item {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;

    .project-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      color: $primary-color;

      .name {
        font-weight: bold;
      }

      .technologies {
        font-size: 14px;
        font-weight: 550;
        color: $secondary-color;
      }
    }

    .project-links {
      margin-top: 5px;
      font-size: 14px;
    
      .project-link {
        margin-right: 10px;
        color: $primary-color;

        svg {
          width: 12px;
          height: 12px;
          margin-left: 0;
          margin-right: 10px;
          color: $secondary-color;
        }
  
        &:hover {
          color: $highlight-color;
          text-decoration: none;
  
          svg {
            margin-left: 3px;
            color: $highlight-color;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
    
    .project-description {
      margin-top: 5px;
      max-width: 45em;
      font-size: 14px;
      color: $secondary-color;
      display: flex;
      flex-wrap: wrap;

      .project-image {
        flex: 1;
        max-width: 35%;
        object-fit: contain;
        height: auto;
        border-radius: 5px;
        margin: 10px;
      }

      .project-description-desc {
        flex: 3;
        margin-left: 10px;

        .project-description-text {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
    &:hover {
      background-color: $hover-background;
      transition: 0.1s ease-in;
      border-radius: 5px;
    
      .project-title {
        color: $highlight-color;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}


@media screen and (max-width: 1080px) {
  .project-item-link {
    .project-item {
      max-width: 100%;
      margin: 0 0 10px 0;

      .project-title {
        flex-direction: column;
        align-items: flex-start;
      }

      .project-description {
        flex-direction: column;
        align-items: center;

        .project-image {
          max-width: 100%;
          margin: 10px 0;
        }
      }
    }
  }
}