$primary-color: #FFFFFF;
$secondary-color: #b2bec0;
$background-color: #01172F;
$font-color: #b2bec0;
$highlight-color: #FC9E4F;

$hover-background: rgba(255, 255, 255, 0.1);
$link-color: $secondary-color;
$skill-border: rgba(178, 190, 192, 0.2);
$font-family: 'Inter', sans-serif;
