$primary-color: #d0d7ff;
$secondary-color: #d9eeff;
$background-color: rgb(9, 26, 58);
$font-family: 'Inter', sans-serif;
$link-color: #a0aeff;


body {
  background-color: $background-color;
  color: $primary-color;
  font-family: $font-family;
  padding: 2px;
}

body a {
  color: $link-color;
  text-decoration: none;
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
}

// Name and Contact

.header {
  padding: 25px;
  position: fixed;
  z-index: -1;
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.my-name {
  font-size: 2.9em;
  color: $primary-color;
  margin: 0;
  letter-spacing: -0.04em;
}

.my-title {
  font-size: 1.8em;
  color: $secondary-color;
  margin-top: 5px;
  margin-bottom: 0px;
  letter-spacing: -0.01em;
}

.my-location {
  font-size: 1em;
  color: $secondary-color;
  margin-top: 5px;
}

.my-location svg {
  color: $secondary-color;
  width: 14px;
  height: 14px;
  margin-top: 5px;
}

.contact-links {
  display: flex;
}

.contact-item {
  padding: 10px;
  padding-left: 0;
  margin-bottom: 10px;
  display: flex;
  z-index: 100;
}

.contact-item a {
  color: $primary-color;
  text-decoration: none;
}

.icon {
  width: 16px;
}

// Resume Sections

.content {
  padding: 20px;
  width: 100%;
}

.content-children {
  padding-left: 35vw;
  max-height: 95vh;
  min-width: 50vw;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.experience-description {
  margin-top: 5px;
  max-width: 35em;
}

.skill-description {
  margin-top: 5px;
  max-width: 35em;
}

.skill-category {
  display: flex;
  flex-wrap: wrap;
}

.category-name {
  font-weight: bold;
  margin-right: 10px;
  min-width: 20%;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  margin-left: 10px;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
}

.project-description {
  margin-top: 5px;
  max-width: 35em;
}

.certifications {
  margin-top: 10px;
  max-width: 35em;
}

.achievements {
  margin-top: 10px;
  max-width: 35em;
}

@media screen and (max-width: 1080px) {
  .header {
    position: relative;
    z-index: auto;
  }  
  .content-children {
    padding-left: 10px;
    width: 100%;
    max-height: none;
  }
}
