$primary-color: #FFFFFF;
$secondary-color: #b2bec0;
$background-color: #01172F;
$font-color: #b2bec0;
$highlight-color: #FC9E4F;

$link-color: $secondary-color;
$skill-border: rgba(178, 190, 192, 0.2);
$font-family: 'Inter', sans-serif;


body {
  background-color: $background-color;
  color: $font-color;
  font-family: $font-family;
  line-height: 1.5;
  padding: 2px;
}

body a {
  color: $link-color;
  text-decoration: none;
}

body h2 {
  color: $primary-color;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

body h3 {
  color: $primary-color;
  font-size: 1.2em;
  font-weight: 520;
  margin-top: 15px;
  margin-bottom: 5px;
}

body a:hover {
  color: $highlight-color;
  font-weight: 520;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Name and Contact

.header {
  padding: 25px;
  position: fixed;
  min-height: 80vh;
  flex: 1;
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  padding: 25px;
}

.my-name {
  font-size: 3.3em;
  color: $primary-color;
  margin: 0;
  letter-spacing: -0.04em;
}

.my-title {
  font-size: 1.6em;
  color: $secondary-color;
  margin-top: 5px;
  margin-bottom: 0px;
  letter-spacing: -0.01em;
  font-weight: 540;
}

.my-location {
  font-size: 1em;
  color: $secondary-color;
  margin-top: 5px;
}

.my-location svg {
  color: $secondary-color;
  width: 14px;
  height: 14px;
  margin-top: 5px;
  vertical-align: top;
}

.contact-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.contact-item {
  padding: 10px;
  padding-left: 0;
  margin-bottom: 10px;
  display: flex;
  z-index: 100;
}

.contact-item svg {
  width: 30px;
  height: 30px;
  transition: fill 0.3s ease;
}

.contact-item a {
  color: $primary-color;
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
}
.icon:hover {
  color: $highlight-color;
}

// Resume Sections

.content {
  padding: 20px;
  width: 100%;
  flex: 5;
}

.content-children {
  padding-left: 35vw;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.education-list {
  display: flex;
  flex-direction: column;
}

.education-item {
  margin-bottom: 20px;
  display: flex;
}
.education-item .left {
  width: 30%;
}
.education-item .grade {
  font-style: italic;
  color: $secondary-color;
}

.experience-description {
  margin-top: 5px;
  max-width: 35em;
}

.skill-description {
  margin: 20px;
  max-width: 35em;
}

.skill-category {
  margin: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.skill-category .category-name {
  font-weight: bold;
  margin-right: 10px;
  min-width: 20%;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  border: 0.5px solid $skill-border;
  margin: 2px;
  border-radius: 5px;
  padding: 5px;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
}

.project-description {
  margin-top: 5px;
  max-width: 35em;
}

// .additional-description {
//   margin: 20px;
// }

.certifications {
  margin-top: 10px;
  max-width: 35em;
}

.achievements {
  margin-top: 10px;
  max-width: 35em;
}

@media screen and (max-width: 1080px) {
  .my-name {
    font-size: 2.5em;
  }
  .my-title {
    font-size: 1.5em;
  }
  .header {
    position: relative;
    z-index: auto;
    min-height: auto;
  }  
  .header-content {
    padding: 10px;
  }
  .content-children {
    padding-left: 10px;
    width: 100%;
    max-height: none;
  }
  .education-item {
    flex-direction: column;
  }
  .education-item .left {
    width: auto;
  }
}
